.main{
    margin-left: 50px;
  
    display: flex;
    justify-content: center;
}
.box{
  display: flex;
   flex-direction: column;
  width: 600px;
  gap: 20px;
}
   
.info{
    display: flex;
}
.label{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.input{
    margin-left: 2%;
    flex: 2;
   
}
input{
    width: 70%;
}
.head{
    margin-left: 3%;
}
.input1{
    display: flex;
    flex-direction: column;
    gap: 0;
}
span{
    font-size: 15px;
}
.inputd{
    display: flex;
}
.zip{
    display: flex;
    width: 60px;
    
}
.zip1{
    width: 60px;
    margin-left: 10px; 
}
.phone{
    width: 48%;

}
.btn{
    margin-left: 50%;
}
.submit{
    padding: 5px;
    color: aquamarine;
    background-color: black;
    border-radius: 5px;
}
.logic{
    color: red;
    margin-left: 40%;
    font-weight: bold;
    margin-top: 0%;
    margin-bottom: 0%;
}